In [2]:
%pip install boto3

Collecting boto3
  Downloading boto3-1.20.2-py3-none-any.whl (131 kB)
Collecting s3transfer<0.6.0,>=0.5.0
  Downloading s3transfer-0.5.0-py3-none-any.whl (79 kB)
Collecting jmespath<1.0.0,>=0.7.1
  Downloading jmespath-0.10.0-py2.py3-none-any.whl (24 kB)
Collecting botocore<1.24.0,>=1.23.2
  Downloading botocore-1.23.2-py3-none-any.whl (8.1 MB)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\users\saran\anaconda3\envs\mlenv\lib\site-packages (from botocore<1.24.0,>=1.23.2->boto3) (1.26.7)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\saran\anaconda3\envs\mlenv\lib\site-packages (from botocore<1.24.0,>=1.23.2->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\saran\anaconda3\envs\mlenv\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.24.0,>=1.23.2->boto3) (1.15.0)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.20.2 botocore-1.23.2 jmespath-0.10.0 s3transfer-0.5.0
Note: you may need to restart the kernel to use updated packages.

In [30]:
#Loading the dependencies
import boto3
import pandas as pd
from io import StringIO

In [28]:
#Loading the Csv's
noworld_population_df = pd.read_csv("Emission_Population_L5000_Data.csv") 
noworld_population_df.tail()

,Area_Code,Area,Item_Code,Item,Element_Code,Element,Year,Emission,Population
728356,181,Zimbabwe,6516,Land Use change,7230,Emissions (N2O),2019,0.0000,14645.468
728357,181,Zimbabwe,6516,Land Use change,7273,Emissions (CO2),2019,10662.4408,14645.468
728358,181,Zimbabwe,6516,Land Use change,724413,Emissions (CO2eq) from CH4 (AR5),2019,0.0000,14645.468
728359,181,Zimbabwe,6516,Land Use change,724313,Emissions (CO2eq) from N2O (AR5),2019,0.0000,14645.468
728360,181,Zimbabwe,6516,Land Use change,723113,Emissions (CO2eq) (AR5),2019,10662.4408,14645.468

In [29]:
emissions_N2O_new_df = noworld_population_df[noworld_population_df['Item_Code'].isin([5061, 6516, 6992, 6995, 6996]) & 
                                        noworld_population_df['Element_Code'].isin([7230, 7234, 7236]) &
                                        (noworld_population_df['Year'] > 2010 )&(noworld_population_df['Emission']>5) &
                                            (noworld_population_df['Population'] > 5000) ]


emissions_N2O_new_df

,Area_Code,Area,Item_Code,Item,Element_Code,Element,Year,Emission,Population
506933,2,Afghanistan,6995,Emissions on agricultural land,7234,Direct emissions (N2O),2011,10.6129,30117.413
506935,2,Afghanistan,6995,Emissions on agricultural land,7230,Emissions (N2O),2011,14.7635,30117.413
506941,2,Afghanistan,6996,Farm-gate emissions,7234,Direct emissions (N2O),2011,10.6129,30117.413
506943,2,Afghanistan,6996,Farm-gate emissions,7230,Emissions (N2O),2011,14.7635,30117.413
507165,4,Algeria,6995,Emissions on agricultural land,7234,Direct emissions (N2O),2011,11.8607,36661.445
...,...,...,...,...,...,...,...,...,...
728243,251,Zambia,6516,Land Use change,7230,Emissions (N2O),2019,33.0285,17861.030
728340,181,Zimbabwe,6995,Emissions on agricultural land,7234,Direct emissions (N2O),2019,10.0323,14645.468
728342,181,Zimbabwe,6995,Emissions on agricultural land,7230,Emissions (N2O),2019,15.9128,14645.468
728348,181,Zimbabwe,6996,Farm-gate emissions,7234,Direct emissions (N2O),2019,10.0323,14645.468
728350,181,Zimbabwe,6996,Farm-gate emissions,7230,Emissions (N2O),2019,15.9128,14645.468

In [36]:
filename = 'EmissionN2O.csv' #Any name we want to have in bucket
bucketname = 'bucketname' #S3 bucket name

csv_buffer = StringIO()
emissions_N2O_new_df.to_csv(csv_buffer)

## in AWS to go click ur name and then "My Security Credentials". Then "Access Keys"
client = boto3.client('s3', 
        region_name = 'region', #need to change here
        aws_access_key_id = 'Access-Key', #need to change here
        aws_secret_access_key = 'Secret-access-key' #need to change here
)

response = client.put_object(
    ACL='private',
    Body=csv_buffer.getvalue(),
    Bucket=bucketname,
    Key=filename
)

In [37]:
response

{'ResponseMetadata': {'RequestId': 'ZNS4113NCYGSDFZ9',
  'HostId': '61D6fuqGCnfXqv0M6Ca+TT9zn1bq19bM0/VNzkcstfdIP8/EGF5E25XXPYwMpVKFoX1Nyag1QAs=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '61D6fuqGCnfXqv0M6Ca+TT9zn1bq19bM0/VNzkcstfdIP8/EGF5E25XXPYwMpVKFoX1Nyag1QAs=',
   'x-amz-request-id': 'ZNS4113NCYGSDFZ9',
   'date': 'Thu, 11 Nov 2021 03:41:22 GMT',
   'etag': '"b6e9d87f9d009560ce97554184fec157"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"b6e9d87f9d009560ce97554184fec157"'}